# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\git\work\test1904\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
